body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.body {
	font-family: Tahoma;
	font-size: 14px;
	color: #000000;
}
.body1 {
	font-family: Tahoma;
	font-size: 14px;
	color: #333333;
}
.body1-2 {
	font-family: Tahoma;
	font-size: 14px;
	color: #33777A;
}
.body2-head {
	font-family: Tahoma;
	font-size: 16px;
	color: #333333;
	text-decoration :underline;	
}
.body-color {
	color: #333333;
}
a:link {
	text-decoration: none;
	color: #333333;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #0000FF;
}
a:active {
	text-decoration: none;
	color: #0000FF;
}
